// Specific CSS for your home-page
html, body{
width: 100%;
height: 100%;
padding: 0px;
margin: 0px;
overflow-x: hidden;
}

.references {
  text-align: left;
  font-style: italic;
  color: #F4F4F4;
}

.title {
  color: #F4F4F4;
  text-align: left;
}



.intro {
  text-align: left;
  color: #F4F4F4;
}
.img {
  
    width: 100%;
    height: 15vw;
    object-fit: cover;
 
}


#homepage-main-greet {
h1{
font-weight: 900;
font-size: 100px;
}
// p{
//   font-weight: 700;
//   font-size: 56px;
// }
}

h4{
  color: white;
}

#projects {
  color: $success;
}

@media only screen and (max-width: 991px) {
  #homepage-main-greet{
    h1{
      font-size: 70px;
    }

    p{
      font-size: 30px;
    }

  }
  .info-card-img {
    max-width: 70vh;

  }

  .info-card {
  text-align: center;

  }
}

@media only screen and (max-width: 768px) {
  #homepage-main-greet{
    h1{
      font-size: 50px;
    }

    p{
      font-size: 20px;
    }
  // width: 100%;
  }
}
@media (min-width: 100px) and (max-width: 575px) {
  #homepage-main-greet {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  #homepage-main-greet {
    grid-template-columns: 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  #homepage-main-greet {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #homepage-main-greet {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  #homepage-main-greet {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
