<div class="pt-5 pb-4 mt-5" style="background: #F4F4F4">
  <div class="container">
    <div class="row" id="reviewcard2">
      <div class="col" id="imgg2">
        <img src= "https://res.cloudinary.com/dekvy8qc4/image/upload/v1605075183/cisco_logo_t2r6w1.jpg", height="51", width="91">
      </div>
      <div class="col-10" id="textt2">       
        <p><b>SERVICE DELIVERY MANAGER | CISCO - Remote Jan 2019 - March 2020 </b></p>
        <p>Networking (IaaS), Security (IaaS, PaaS and SaaS), App and Workload Management (PaaS & SaaS)</p>
      </div>
    </div>
    <div class="listingcontent">
         <ul>
            <li>Leading, managing, monitoring, and delivering strategic projects and programs.</li>
            <li>Creating, improving and excuting processes for project intake, version control and delivery.</li>
            <li>Working with customers to discover and finalize project requirements and project scope.</li>
            <li>Coordinating joint releases, creating content regarding product value proposition.</li>
            <li>Working with DevOps to develop product release (alpha, beta, full), rollback, and delivery processes.</li>
            <li>Working with customers to define and document product rollout activities and timelines.</li>
            <li>Coordinating cross-functional teams, building project plans, defining scope, release, and QA plans.</li>
            <li>Leading discovery, execution, and deployment of IaaS/PaaS projects.</li>
            <li>Creating project roadmap, getting customer’s approval, and providing weekly status updates.</li>
            <li>Acting as a Scrum Master and creating the backlog in Jira/Trello (epics, stories).</li>
            <li>Working with the Developers to estimate user stories and plan sprints.</li>
            <li>Scheduli sprints, running sprint demos, backlog grooming and sprint planning activities.</li>
            <li>Responsible for the Scrum rituals (story points, daily scrum, scrum poker, iteration planning, retrospectives).​</li>
         </ul> 
         <p> **Tools used: Trello, Jira, Confluence, Lucidchart, WebEx, WebEx teams, Oracle ERP, Salesforce, DevOps, Microsoft Package.</p>
    </div>      
    
    <%# oracle experience %>
    <div class="row" id="reviewcard3">
      <div class="col" id="imgg3">
      <img src= "https://res.cloudinary.com/dekvy8qc4/image/upload/v1605075253/Portfolio/oracle_logo_wmb6ul.png", height="91", width="91">
      </div>
      <div class="col-10" id="textt3">       
      <p><b>TERRITORY SALES MANAGER | ORACLE - Bahrain                                                                                                  2017 - 2018 </b></p>
      <p>Customer Relationship Management (CRM) (SaaS), Integration, Analytics & Database (PaaS)</p>
      </div>
    </div>
    
    <div class="listingcontent">
         <ul>
            <li>Leverage sales results and impact positively on commercial revenue</li>
            <li>Project managing the full sales cycle inclusive of up sell/cross sell and structuring proposing business applications or potential and existing oracle customers.</li>
            <li>Optimized sales of CRM applications on the cloud (helpdesk, marketing, sales, monitoring models) as sole professional (Territory CEO) in charge of selling these products and handling all related issues.</li>
            <li>Achieved extensive coverage across all industries and built a solid pipeline with the potential for future big deals.</li>
           
         </ul> 
         <p> **Tools used: Trello, Lucidchart, WebEx, Oracle ERP, Oracle CRM, Oracle HCM, Microsoft Package.</p>
    </div>  
    <%# GBM website 1 %>
    <div class="row" id="reviewcard4">
      <div class="col" id="imgg4">
      <img src= "https://res.cloudinary.com/dekvy8qc4/image/upload/v1605075242/Portfolio/IBM_logo_fblfcs.jpg", height="68", width="90">
      </div>
      <div class="col-10" id="textt4">       
      <p><b>Sr. TECHNICAL PROJECT MANAGER | GBM/IBM - Bahrain                                                                                         2014 - 2017 </b></p>
      <p>Service Oriented Architecture (SOA), Integrtion, Big Data, DataWarehouse and Analytics</p>
      </div>
    </div>
    
    <div class="listingcontent">
         <ul>
            <li>Awarded promotion following high performance in prior role.</li>
            <li>Owned end to end delivery of complex technical projects for a portfolio of +20 high priority clients, valued at up to 5m dollars.</li>
            <li>Close collaboration with other functions (software, hardware and services).</li>
            <li>Responsble for leading and developing a growing team of remote Services Developers.</li>
            <li>Expertly driving milestones, tracking service metrics, liasing with hardware team on solution design and leading professionals responsible for building the product.</li>
            <li>Leveraged customer satisfaction by expertly managing post sales queries.</li>
            
         </ul> 
         <p> **Tools used: Jira, Confluence, Trello, Balsamiq, IBM DevOps (IBM Rational Team Concert, IBM UrbanCode, Clearcase, IBM Rational Architect),  WebEx, Oracle CRM, Microsoft Package. </p>
    </div> 

    <%# GBM website 2 %>
    <div class="row" id="reviewcard5">
      <div class="col" id="imgg5">
      <img src= "https://res.cloudinary.com/dekvy8qc4/image/upload/v1605075242/Portfolio/IBM_logo_fblfcs.jpg", height="68", width="90">
      </div>
      <div class="col-10" id="textt5">       
      <p><b>Consultant | GBM/IBM - Bahrain                                                                                         2010 - 2014</b></p>
      <p>Service Oriented Architecture (SOA), Integrtion, Big Data, DataWarehouse and Analytics</p>
      </div>
    </div>
    
    <div class="listingcontent">
         <ul>
            <li>Made the move to a dedicated project management role.</li>
            <li>Driving on- target delivery of multiple key projects, typical project size between 600K and 3 million$.</li>
            <li>Led scope planning/scoping, road mapping, analysis, reporting, risk/issues management, progress tracking and stakeholder engagement.</li>
            <li>Executed, on target multiple strategic projects, managing complex requirements across many stakeholders (IBM, outsourced services team and a singaporian consulting company) and end users.</li>                       
         </ul> 
         <p> **Tools used: Jira, Confluence, Trello, Balsamiq, IBM DevOps (IBM Rational Team Concert, IBM UrbanCode, Clearcase, IBM Rational Architect),  WebEx, Oracle CRM, Microsoft Package.</p>
    </div>

    <%# GBM website 3 %>
    <div class="row" id="reviewcard6">
      <div class="col" id="imgg6">
      <img src= "https://res.cloudinary.com/dekvy8qc4/image/upload/v1605075242/Portfolio/IBM_logo_fblfcs.jpg", height="68", width="90">
      </div>
      <div class="col-10" id="textt6">       
      <p><b>BUSINESS ANALYST | GBM/IBM - Bahrain                                                                                                                   2008 - 2010 </b></p>
      <p>Service Oriented Architecture (SOA), Integrtion, Big Data, DataWarehouse and Analytics</p>
      </div>
    </div>
    
    <div class="listingcontent">
         <ul>
            <li>Primarily foused on furthering the strategic aims and objectives of the business.</li>
            <li>Modeling/simulating business processes, requirements gathering, mapping use cases.</li>
            <li>Verifying system test cases, executing test plans and portal administration/development.</li>
            <li>Worked with a remote team for project implementation and testing.</li>          
            
         </ul> 
         <p> **Tools used: Jira, Confluence, Trello, Balsamiq, IBM DevOps (IBM Rational Team Concert, IBM UrbanCode, Clearcase, IBM Rational Architect),  WebEx, Oracle CRM, Microsoft Package.</p>
    </div> 

<%# Mannai %>

    <div class="row" id="reviewcard7">
      <div class="col" id="imgg7">
      <img src= "https://res.cloudinary.com/dekvy8qc4/image/upload/v1605075242/Portfolio/IBM_logo_fblfcs.jpg", height="68", width="90">
      </div>  
      <div class="col-10" id="textt7">       
      <p><b>IT Consultanat | Mannai Corporation - Doha, Qatar                                                                                               2006 - 2008</b></p>
      <p>Microsoft SharePoint Portal, Workflow engines and Document Management System</p>
      </div>
    </div>
    
    <div class="listingcontent">
         <ul>
            <li>Consultant on Strategic projects</li>               
         </ul> 
         <p> **Tools used: Jira, Confluence, Trello, Balsamiq, IBM DevOps (IBM Rational Team Concert, IBM UrbanCode, Clearcase, IBM Rational Architect),  WebEx, Oracle CRM, Microsoft Package.</p>
    </div> 
 </div>
</div>
  