.btn-lg-rounded-primary{
  background-color: $success;
  color: white;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 8px 46px;
  border-radius: 50px;
}

.btn-lg-rounded-primary:hover{
  background-color:black;
  color: white;
  text-decoration: none;
}

// .button {
//   background-color: #000000;
//   color: #FFFFFF;
//   padding: 10px;
//   border-radius: 10px;
//   -moz-border-radius: 10px;
//   -webkit-border-radius: 10px;
//   margin:10px
// }

// .small-btn {
//   width: 50px;
//   height: 25px;
// }

.medium-btn {
  width: 70px;
  height: 30px;
}

// .big-btn {
//   width: 90px;
//   height: 40px;
// }


//Incase you want to use certificate section in about page

// .btn-certificates {
//   width: 250px !important;
//   font-weight: bold;
// }

// .btn-certificates:hover {
//   color: white;
// }
